@font-face {
    font-family: bungeeShade;
    src: url("./assets/BungeeShade-Regular.ttf");
}

@font-face {
    font-family: bungeeInline;
    src: url("./assets/BungeeInline-Regular.ttf");
}

@font-face {
    font-family: bungeeOutline;
    src: url("./assets/BungeeOutline-Regular.ttf");
}

@font-face {
    font-family: bungee;
    src: url("./assets/Bungee-Regular.ttf");
}

@font-face {
    font-family: quicksand;
    src: url("./assets/Quicksand-VariableFont_wght.ttf");
}


body {
    background-image: url("./assets/background.svg");
    background-size: cover;
    background-repeat: repeat-x;
    font-family: quicksand;
    overflow-x: hidden;
    margin: 0;
}

#menu {
    display: flex;
    z-index: 3;
    background-color: #1E1E24;
    height: clamp(5px, 5vw, 48px);
    position: fixed;
    top: 0;
    width: 100vw;
    align-items: center;
}

    #menu a {
        font-family: quicksand;
        font-size: clamp(1rem, 3vw, 24px);
        color: white;
        text-decoration: none;
        margin-left: 10px;
        margin-right: 10px;
        transition: .25s ease-in-out;
    }

        #menu a:hover {
            color: #922300;
        }

#home {
    z-index: -1;
    width: 100vw;
    height: 30vw;
    /*background-image: url("./assets/lights.svg#svgView(preserveAspectRatio(none))");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-position-x: center;*/
}

#square {
    margin-top: 30vh;
    margin-left: 0vw;
    width: 100vw;
}

#col1 {
    position: absolute;
    width: 20vw;
    height: calc(clamp(1rem, 5.5vw, 3.5rem) * 1.3 * 3);
    display: flex;
    align-items: center;
    justify-content: right;
}

    #col1 p.header {
        font-family: bungeeOutline;

        line-height: 130%;
        text-align: right;
        font-weight: 300;
        font-size: clamp(1rem, 5.5vw, 3.5rem);
        margin: 0;
        color: white;
    }

#col2 {
    position: absolute;
    height: calc(clamp(1rem, 5.5vw, 3.5rem) * 3.9);
    top: calc(30vh + clamp(1rem, 5.5vw, 3.5rem) * 1.3);
    left: 20vw;
    width: 40vw;

    animation-name: textSlide;
    animation-duration: 2s;
    animation-delay: 0.5s;
}

    #col2 p.name-header {
        text-align: left;
        font-size: clamp(1rem, 5.5vw, 3.5rem);
        margin: 0 auto;
        color: white;
    }

@keyframes textSlide {
    0% {
        top: calc(30vh + clamp(1rem, 5.5vw, 3.5rem) * 1.3);
    }
    5% {
        top: calc(30vh + clamp(1rem, 5.5vw, 3.5rem) * 1.3);
    }
    35% {
        top: 30vh;
    }
    40% {
        top: 30vh;
    }
    80% {
        top: calc(30vh - clamp(1rem, 5.5vw, 3.5rem) * 1.3);
    }
    85% {
        top: calc(30vh - clamp(1rem, 5.5vw, 3.5rem) * 1.3);
    }
    100% {
        top: calc(30vh + clamp(1rem, 5.5vw, 3.5rem) * 1.3);
    }
}


#about {
    margin-top: 10vh;
    z-index: 2;
    width: 100vw;
    height: 720px;
    max-height: 720px;
    background-image: url("./assets/balls.svg");
    background-size: contain;
    background-repeat: repeat-x;
    background-position-x: center;
}

#balls {
    height: 100%;
    width: 100%;
    max-height: 720px;
    max-width: 1020px;
    background-image: url("./assets/balls.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    margin: 0 auto;
    position: relative;
}

    #balls p.header {
        position: absolute;
        font-family: bungeeOutline;
        font-size: clamp(1rem, 5.5vw, 3.5rem);
        color: white;
        left: 30.5%;
        margin-top: 5%;
        padding-top: 3.5%;
        width: auto;
        line-height: clamp(1rem, 5.5vw, 3.5rem);
    }

    #balls div.bubble1 {
        position: absolute;
        font-size: clamp(0.3rem, 2vw, 1.25rem);
        color: white;
        left: 22%;
        margin-top: 27%;
        width: 25%;
        max-width: 425px;
    }

    #balls div.bubble2 {
        position: absolute;
        font-size: clamp(0.23rem, 1.5vw, 1rem);
        color: white;
        left: 53%;
        margin-top: 32%;
        width: 18%;
        max-width: 375px;
    }

        #balls div.bubble2 ul {
            padding-left: 10px;
        }

    #balls div.bubble3 {
        position: absolute;
        font-size: clamp(0.23rem, 1.5vw, 1rem);
        text-align: center;
        color: white;
        left: 2%;
        margin-top: 45%;
        width: 20%;
        max-width: 400px;
    }

        #balls div.bubble3 a {
            color: #ED8030;
        }


#projects {
    position: relative;
    top: calc(-400px + 25vw);
    margin-bottom: 500px;
}

    #projects p.header.special {
        font-family: bungeeOutline;
        font-size: clamp(1rem, 5.5vw, 3.5rem);
        color: white;
        text-align: center;
        margin-bottom: 10px;
        line-height: clamp(1rem, 5.5vw, 3.5rem);
    }

    #projects div {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

        #projects div div {
            display: block;
            justify-content: left;
            background-color: #FFFFFF;
            width: 250px;
            height: 350px;
            margin: 10px;
            line-height: 0;
            border-radius: 15px;
        }

            #projects div div div {
                position: absolute;
                line-height: normal;
                background: none;
                margin: 5px;
                height: unset;
                width: 230px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }

                #projects div div div p.header {
                    text-align: left;
                    line-height: 1.5rem;
                    font-family: quicksand;
                    font-size: 1.25rem;
                    margin: 5px;
                }

                #projects div div div p {
                    font-size: 12px;
                    margin: 0;
                    margin-top: 5px;
                    margin-left: 5px;
                    width: 95%;
                }

                    #projects div div div p a {
                        font-size: 12px;
                        margin-left: 0;
                    }

                #projects div div div a {
                    font-size: 12px;
                    padding: 2.5px;
                    margin: 2.5px;
                    border-radius: 5px;
                    color: #5100ff;
                    transition: .25s ease-in-out;
                }

                #projects div div div a:hover {
                    background-color: #00000030;
                }

                #projects div div div.image {
                    position: absolute;
                    overflow-y: hidden; /* scroll for more than one */
                    overflow-x: hidden;
                    display: block;
                    width: 250px;
                    height: 250px;
                    margin: 0;
                    margin-top: 100px;
                    line-height: 0;
                    clip-path: polygon(0 0, 300px 0, 300px 300px, 0 300px);
                }

                    #projects div div div.image a {
                        position: absolute;
                        display: block;
                        text-indent: -9999px;
                        margin: 0;
                        padding: 0;
                        width: 250px;
                        height: 250px;
                        background-color: #00000000;

                        z-index: 3;
                    }

            #projects div div img {
                position: relative;
                float: left;
                width: 250px;
                margin: 0;
                filter: grayscale(1);
                transition: .25s ease-in-out;
            }

            #projects div div div.image:hover > img {
                filter: none;
            }

#buttons {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}

    #buttons button {
        font-family: quicksand;
        font-size: 1rem;
        border: none;
        background-color: white;
        height: 50px;
        margin: 5px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 5px;
        transition: .25s ease-in-out;
    }

        #buttons button:hover {
            background-color: #FFFFFF80;
        }

.eng {
    background-color: #335C67 !important;
    color: white !important;
}

.com {
    background-color: #E09F3E !important;
    color: black !important;
}

.art {
    background-color: #540B0E !important;
    color: white !important;
}

.eng.com {
    background-image: linear-gradient(to right, #335C67, #E09F3E) !important;
    color: white !important;
}

.com.art {
    background-image: linear-gradient(to right, #E09F3E, #540B0E) !important;
    color: white !important;
}

.eng.art {
    background-image: linear-gradient(to right, #335C67, #540B0E) !important;
    color: white !important;
}

.eng.com.art {
    background-image: linear-gradient(to right, #335C67, #E09F3E, #540B0E) !important;
    color: white !important;
}

.highlight {
    background-color: #1E1E24 !important;
    color: white !important;
}
